* {
  font-family: Geologica;
  transition: all 0.5s ease;
}

/*
Font Configurations...
*/

.text{
  color: #fff;
}

.color-green{
  color: #014600;
}
.color-blue{
  color: #0c0263;
}
.color-gray{
  color: #242424;
}
.color-yellow{
  color: #595900;
}
.color-red{
  color: #590000;
}

.f-bold{
  font-weight: bold;
}

.f-italic{
  font-style: italic;
}

.f-small{
  font-size: 0.8rem;
}

.f-medium{
  font-size: 1.2rem;
}

.f-large{
  font-size: 1.5rem;
}

.f-xlarge{
  font-size: 2rem;
}

.f-xxlarge{
  font-size: 3rem;
}

.f-xxxlarge{
  font-size: 4rem;
}


.hidescroll{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hidescroll::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

html {
  width:100vw;
  height:100vh;
  background: rgb(3,134,0);
  background: linear-gradient(90deg, rgba(3,134,0,1) 0%, rgba(0,228,4,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0s ease;
  overflow:hidden;
}

.top-left{
  position: absolute;
  top:0;
  left:0;
}

.top-right{
  position: absolute;
  top:0;
  right:0;
}

.bottom-right{
  position: absolute;
  bottom:0;
  right:0;
}

.bottom-left{
  position: absolute;
  bottom:0;
  left:0;
}

.side-panel{
  position: absolute;
  top:40%;
  right:0;
}

.main{
  top: 140px;
  position: absolute;
  left:0;
}

.container{
  padding:10px;
}

span{
  display:block;
  text-align: center;
}

.bg-dim{
  background-color: rgba(0,0,0,0.5);
}
.bg-white{
  background-color: #fff;
}
.bg-lightgreen{
  background-color: rgb(111, 255, 108);
}
.bg-lightblue{
  background-color: rgb(108, 147, 255);
}
.bg-lightyellow{
  background-color: rgb(255, 255, 137);
}

.bg-verylightblue{
  background-color: rgb(108, 147, 255, 0.5);
}
.bg-verylightgreen{
  background-color: rgb(111, 255, 108, 0.5);
}
.bg-verylightyellow{
  background-color: rgb(255, 255, 137, 0.5);
}
.bg-verylightgray{
  background-color: rgba(199, 199, 199, 0.5);
}
.bg-green{
  background-color: #014600;
}
.bg-blue{
  background-color: #0c0263;
}
.bg-lightgray{
  background-color: #c7c7c7;
}
.bg-gray{
  background-color: #242424;
}
.bg-yellow{
  background-color: #595900;
}
.bg-greenlight{
  background-color: rgba(0,228,4,1);
}


.border-green{
  border: 2px solid #014600;
}
.border-lightgreen{
  border: 2px solid rgb(111, 255, 108);
}
.border-blue{
  border: 2px solid #0c0263;
}
.border-lightblue{
  border: 2px solid rgb(108, 147, 255);
}
.border-gray{
  border: 2px solid #242424;
}
.border-lightgray{
  border: 2px solid #a0a0a0;
}
.border-yellow{
  border: 2px solid #595900;
}
.border-lightyellow{
  border: 2px solid rgb(255, 255, 137);
}
.border-transparent{
  border: 2px solid transparent;
}


.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-apart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shadow{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.shadow-less{
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.greenglow{
  box-shadow: 0px 0px 15px 0px rgba(0,228,4,.8);
}
.blueglow{
  box-shadow: 0px 0px 15px 0px rgba(67, 46, 255, 0.8);
}
.yellowglow{
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 67, 0.8);
}

.fade-in{
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-out{
  animation: fadeOut 1s ease;
  opacity: 0;
}

@keyframes fadeOut {
  0%{
    opacity: 1;
    transform: translateY(0px);
  }
  100%{
    opacity: 0;
    transform: translateY(10px);
  }
}